html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
    text-align: center;
    font-weight: lighter;
    overflow: hidden;
}
* { box-sizing: border-box; }